.o-block {
  &__heading {
    font-weight: $semibold;
    color: $color--heather-grey;
    letter-spacing: -1px;
    line-height: 1.33em;

    span {
      color: $color--dark-grey;
      display: block;
      font-size: 14px;
      font-weight: $regular;
      letter-spacing: 0;
      line-height: 1.75;
      margin-bottom: 1rem;

      &::before {
        content: "\2014";
      }
    }
  }
}
