.o-block {
  &__heading {
    font-weight: $semibold;
    color: $color--heather-grey;
    letter-spacing: -1px;
    line-height: 1.33em;

    span {
      color: $color--dark-grey;
      display: block;
      font-size: 14px;
      font-weight: $regular;
      letter-spacing: 0;
      line-height: 1.75;
      margin-bottom: 1rem;

      &::before {
        content: "\2014";
        color: $color--pink;
      }
    }
  }

  &__btn {
    margin-top: 3.2rem;
  }

  &__content {
    margin-top: 3.2rem;

    &--split {
      @include respond-to("small") {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        p {
          width: 60%;
          margin: 0 8% 0 0;
        }
      }
    }

    .o-block__btn {
      @include respond-to("small") {
        margin: 0;
      }
    }
  }
}
