.c-masthead {
  padding: 2.875rem 0;

  .l-container {
    max-width: 1820px;

    @include respond-to("small") {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
