@import "l-grid";

.l-section {
  margin-top: 8.5rem;

  @include respond-to("small") {
    margin-top: 15rem;
  }

  &--bottom {
    margin-bottom: 8.5rem;

    @include respond-to("small") {
      margin-bottom: 15rem;
    }
  }
}

.l-container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
}

.l-content {
  margin-top: 1.2em;
}
