$color--white: #fff;
$color--black: #000;

$color--light-grey: #e6e8eb;
$color--dark-grey: #40434e;
$color--heather-grey: #1c1c1c;
$color--pink: #d189bc;
$color--dusty-blue: #47589d;
$color--bright-blue: #16387a;
$color--deep-purple: #301522;
$color--yellow: #ffc80a;

$color--text: $color--heather-grey;

$color--outline: hsl(227, 10%, 28% / 0.4);
